h1 {
  font-size: 3rem;
  margin: 15px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
}

.modifiers{
  text-align: center;
}

button{
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  background-color: #02213f;
  padding: 5px 15px;
  margin: 0 5px;
}

.modifiers label{
  color:#fff;
  font-size: 1.2rem;
  font-weight: bold;
}



#container,
#container2 {
  display: grid;
  width: 700px;
  height: 700px;
  margin: 50px auto;
  border: 2px solid #000;
} 

.grid-item {
  border: 1px solid #0000000b ;
  background-color: #fff;
}

main {
  text-align: center;
}

body{
  background-color: #535b61;
}